* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

footer {
  background-color: #333333;
  color: white;
}
footer .container ul li {
  padding-bottom: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
footer .container ul li:hover {
  color: #D56B24;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
footer .container ul .btn-primary {
  border: none;
  background-color: #D56B24;
}
footer .container .payment .paymentmethod img {
  height: 50px;
  width: 350px;
}
footer .footer__bottom {
  background-color: #21721b;
}

.top_header {
  background-color: #3C812F;
}
.top_header .container .logo {
  z-index: 99;
}
.top_header .container .logo img {
  width: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #D56B24;
}
.top_header .container .description {
  font-size: 14px;
}
.top_header .container .contact {
  font-size: 13px;
}

.second_header {
  background-color: #21721b;
}
.second_header .second__list li a {
  color: white;
  padding: 1.7rem 1.1rem;
  font-size: 0.877rem;
}
.second_header .second__list li a i {
  font-size: 10px;
  padding: 0.2rem;
}
.second_header .second__list li a:hover {
  background-color: #e49528;
  color: white;
}
.second_header .second__list li .about__us__innerlist {
  display: none;
  z-index: 99;
  top: 100%;
  left: 0;
  padding: 0;
  background-color: #D1D1D1;
  white-space: nowrap;
}
.second_header .second__list li .about__us__innerlist li {
  position: relative;
}
.second_header .second__list li .about__us__innerlist li a {
  padding: 0.8rem;
  color: rgb(102, 102, 102);
  display: block;
}
.second_header .second__list li .about__us__innerlist li a:hover {
  color: white;
}
.second_header .second__list li .about__us__innerlist li .innerlist__inner {
  position: absolute;
  display: none;
  left: 100%;
  top: 0;
  background-color: #D1D1D1;
}
.second_header .second__list li .about__us__innerlist li .innerlist__inner li a {
  color: rgb(102, 102, 102);
}
.second_header .second__list li .about__us__innerlist li .innerlist__inner li a:hover {
  color: white;
}
.second_header .second__list li .about__us__innerlist li .innerlist__inner li .innerlist__inner__inner {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #D1D1D1;
}
.second_header .second__list li .about__us__innerlist li .innerlist__inner li .innerlist__inner__inner li a {
  color: rgb(102, 102, 102);
}
.second_header .second__list li .about__us__innerlist li .innerlist__inner li .innerlist__inner__inner li a:hover {
  color: white;
}
.second_header .second__list li .about__us__innerlist li .innerlist__inner li:hover .innerlist__inner__inner {
  display: block;
}
.second_header .second__list li .about__us__innerlist li:hover .innerlist__inner {
  display: block;
  padding: 0;
}
.second_header .second__list li:hover .about__us__innerlist {
  display: block;
}

.section_hero .carousel .carousel-item img {
  height: 540px;
}
.section_hero .carousel .carousel-caption {
  color: white;
  left: initial;
  bottom: initial;
  right: 180px;
  top: 48%;
  white-space: wrap;
  width: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: end;
}
.section_hero .carousel .carousel-caption h1 {
  font-size: 24px;
  font-weight: 500;
}
.section_hero .carousel .carousel-caption p {
  font-size: 14px;
  line-height: 25px;
}
.section_hero .carousel .custom-btn {
  background-color: #D56B24;
}
.section_hero .carousel .custom-btn:hover {
  background-color: #21721b;
}
.section_hero .section__hero__buttons {
  bottom: 3rem;
  margin-left: 3rem;
  background-color: rgb(205, 198, 198);
}
.section_hero .section__hero__buttons .hero__buttons__trip .buttons__trip__list select {
  padding: 0 1rem;
  width: 175px;
}
.section_hero .section__hero__buttons .hero__buttons__trip .buttons__trip__list select:hover {
  color: white;
  background-color: #21721b;
}
.section_hero .section__hero__buttons .hero__buttons__trip .buttons__trip__list select:focus {
  background-color: #BEBEBE;
  color: black;
}
.section_hero .section__hero__buttons .hero__buttons__trip .buttons__trip__list .btn-primary {
  height: 2.5rem;
  width: 10rem;
  background-color: #D56B24;
}
.section_hero .section__hero__buttons .hero__buttons__trip .buttons__trip__list .btn-primary:hover {
  background-color: #21721b;
}

.dear__travel {
  padding-bottom: 5rem;
  border-bottom: 1px solid rgb(227, 222, 222);
}
.dear__travel .container .content .dear__travel__head {
  font-size: 1.13rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
}
.dear__travel .container .content .dear__travel__description {
  font-size: 0.9rem;
}
.dear__travel .container .content .dear__travel__description a {
  font-weight: 600;
}
.dear__travel .container .content .dear__travel__description a:hover {
  text-decoration: underline;
}
.dear__travel .container .content .dear__travel__description a i {
  font-size: 10px;
}
.dear__travel .container .content .btn-primary {
  background-color: #D56B24;
  right: 10px;
}
.dear__travel .container .content .btn-primary:hover {
  background-color: #21721b;
}

.specialities .container .specialities__item {
  overflow: hidden;
}
.specialities .container .specialities__item .specialities__item__image {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.specialities .container .specialities__item .specialities__item__image:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.specialities .container .specialities__item:hover .specialities__item__name {
  background-color: green;
}
.specialities .container .specialities__item .specialities__item__name {
  left: 0;
  bottom: 1.5rem;
  background-color: #D56B24;
}

.best__selling .container nav .nav-tabs button {
  border: none;
  border-radius: 0;
  width: 275px;
  text-transform: uppercase;
}
.best__selling .container nav .nav-tabs button:hover {
  background-color: #D56B24;
}
.best__selling .container .best__selling__cat ul li {
  width: 275px;
}
.best__selling .container .best__selling__cat ul li:hover {
  background-color: #D56B24;
}
.best__selling .container .items .best__selling__item .selling__item__image:hover {
  opacity: 0.4;
}
.best__selling .container .items .best__selling__item:hover .price {
  visibility: visible;
}
.best__selling .container .items .best__selling__item .price {
  visibility: hidden;
  font-size: 1.2rem;
  top: 0;
  right: 0;
  background-color: #D56B24;
}
.best__selling .container .items .best__selling__item .best__selling__des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: green;
}
.best__selling .container .items .best__selling__item .best__selling__des .best__selling__day {
  background-color: #D56B24;
}

.guest .container .guest__image img {
  height: auto;
}
.guest .container .guest__image .guest__comment {
  top: 0;
}
.guest .container .why__plan p {
  padding: 0.8rem;
  margin-bottom: 10px;
}
.guest .container .accordion .accordion-item .accordion-header .accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
.guest .container .accordion .accordion-item .accordion-header .accordion-button::after {
  background-image: url("../../asset/image/arrow-24-xxl.png");
  -webkit-transform: rotate(0);
          transform: rotate(0);
}