.best__selling {
    .container {
        .best__selling__item {
            .selling__item__image {
                // position: relative;
                &:hover {
                    opacity: 0.4;
                }
            }
            .best__selling__des {
                display: flex;
                justify-content: space-between;
                background-color: green;

                .best__selling__day {
                    background-color: $secondary-color;
                }
            }

        }
    }
}