.guest {
    .container {
        .guest__image {
            img {
                height: auto;
            }
            .guest__comment {
                top: 0;
            }
        }
        .why__plan {
            p {
                padding: 0.8rem;
                margin-bottom: 10px;
            }
        }
        .accordion {
            .accordion-item {
                .accordion-header {
                    .accordion-button:focus {
                        box-shadow: none;
                        border: none;

                    }
                    .accordion-button::after {
                       background-image: url("../../asset/image/arrow-24-xxl.png");
                       transform: rotate(0);
                    }
                }
            }

        }
    }
}