.section_hero {
    
    .carousel {
        .carousel-item {
            img {
                height: 500px;
            }
        }
        .carousel-caption {
            color: white;
            left: initial;
            bottom: inherit;
            top: 50%;
            transform: translateY(-50%);
        }
        .custom-btn {
            background-color: $secondary-color;
        }
    }
}